<form [formGroup]="form">
  <div
    formArrayName="options"
    *ngFor="let element of getOptionsForm?.controls; let i = index"
  >
    <div class="select_options" [formGroupName]="i">
      <div appearance="outline" class="select_option">
        <label>Option {{ i + 1 }}</label>
        <input type="text" matInput formControlName="option" />
        <div *ngIf="getOptionsForm?.controls?.[i]?.errors?.['duplicated']">
          erroria yleo
        </div>
      </div>

      <button
        *ngIf="getOptionsForm && getOptionsForm.length > 1"
        mat-mini-fab
        mat-raised-button
        color="primary"
        matTooltipPosition="after"
        (click)="removeOption(i)"
      >
        remove
      </button>
    </div>
  </div>

  <button
    *ngIf="getOptionsForm?.controls"
    mat-mini-fab
    color="primary"
    (click)="addOption()"
  >
    add
  </button>
</form>
